body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Public Sans', sans-serif;
}

.navbar {
    background-color: #22668a;
}

.categroy-active {
    background-color: #22668a;
    color: white;
}

.btn-primary {
    background-color: #22668a;
}

.overflow-auto::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-height: 1000px) {
    .hasil {
        height: 650px;
    }

    .menu {
        height: 800px;
    }
}
